---
layout: default
---
<div class="post">
  <div class="row">
    <div class="eight columns">
      <div class="row">
        <div class="twelve columns">
          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
          </header>

          <article class="post-content">
            {{ content }}
          </article>
        </div>
      </div>
    </div>
    <div class="four columns">

      <h4>Related Writings</h4>
      <p>From the archives of this journal:</p>
      <ul class="disc">
        {% for post in site.related_posts limit: 10 %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>

      <h4>About Edward Hyde</h4>
      <p>A night owl, citizen of London, of questionable character.</p>

    </div>
  </div>
</div>
